*.db
.cache

*.ser
*.class
*~
*.bak
*.old

.settings
.classpath
.project
.manager
.scala_dependencies

.idea
*.iml

target
build
null
dist
test-output
build.log

.svn
.CVS
.hg*

report/*
/passagiere.csv
/wagon.txt
